<%= form_for @competition, :html => { :class => "form-horizontal competition" } do |f| %>

  <% if @competition.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @competition.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <label class="control-label col-lg-2">Competencias Instrumentales</label>
    <div class="col-lg-10">
      <%= f.text_area :instrumental, :class => 'form-control ckeditor' %>
    </div>
    <%=f.error_span(:instrumental) %>
  </div>
  <div class="form-group">
    <label class="control-label col-lg-2">Competencias Interpersonales</label>
    <div class="col-lg-10">
      <%= f.text_area :interpersonal, :class => 'form-control ckeditor' %>
    </div>
    <%=f.error_span(:interpersonal) %>
  </div>
  <div class="form-group">
    <label class="control-label col-lg-2">Competencias Sist&eacute;micas</label>
    <div class="col-lg-10">
      <%= f.text_area :sistematica, :class => 'form-control ckeditor' %>
    </div>
    <%=f.error_span(:sistematica) %>
  </div>
  <div class="form-group">
    <%= f.label 'Unidad', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :content_id, set_contents.collect{|c| [full_topic(c), c.id]}, {}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:content_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Guardar', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                competitions_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
