<%- model_class = Competition -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:generica) %>:</strong></dt>
  <dd><%= @competition.generica %></dd>
  <dt><strong><%= model_class.human_attribute_name(:instrumental) %>:</strong></dt>
  <dd><%= @competition.instrumental %></dd>
  <dt><strong><%= model_class.human_attribute_name(:interpersonal) %>:</strong></dt>
  <dd><%= @competition.interpersonal %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sistematica) %>:</strong></dt>
  <dd><%= @competition.sistematica %></dd>
  <dt><strong><%= model_class.human_attribute_name(:content_id) %>:</strong></dt>
  <dd><%= @competition.content_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              competitions_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_competition_path(@competition), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              competition_path(@competition),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
