<%= form_for @score, :html => { :class => "form-horizontal score" } do |f| %>

  <% if @score.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @score.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <div class="row">
      <div class="col-md-2 col-sm-2">
        <div class="form-group">
          <%= f.label 'Uni 1', :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
            <%= f.number_field :score_one, :class => 'form-control' %>
          </div>
          <%=f.error_span(:score_one) %>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="form-group">
          <%= f.label 'Uni 2', :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
            <%= f.number_field :score_two, :class => 'form-control' %>
          </div>
          <%=f.error_span(:score_two) %>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="form-group">
          <%= f.label 'Uni 3', :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
            <%= f.number_field :score_three, :class => 'form-control' %>
          </div>
          <%=f.error_span(:score_three) %>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="form-group">
          <%= f.label 'Uni 4', :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
            <%= f.number_field :score_four, :class => 'form-control' %>
          </div>
          <%=f.error_span(:score_four) %>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="form-group">
          <%= f.label 'Examen', :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
            <%= f.number_field :score_test, :class => 'form-control' %>
          </div>
          <%=f.error_span(:score_test) %>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="form-group">
          <%= f.label 'Promedio', :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
            <%= f.number_field :score_final, :class => 'form-control', disabled: 'disabled' %>
          </div>
          <%=f.error_span(:score_final) %>
        </div>
      </div>

    </div>

      <div class="form-group">
        <%= f.label 'Asignatura', :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= f.select :subject_id, set_subjects.collect{|s| [s.nombre, s.id]}, {}, :class => 'form-control' %>
        </div>
        <%=f.error_span(:subject_id) %>
      </div>
      <div class="form-group">
        <%= f.label 'Nombre del alumno', :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= f.select :student_id, set_students.collect{|s| [full_name(s), s.id]}, {}, :class => 'form-control' %>
        </div>
        <%=f.error_span(:student_id) %>
      </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Guardar', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                scores_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
