<%= form_for @standard, :html => { :class => "form-horizontal standard" } do |f| %>

  <% if @standard.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@standard.errors.count, "error") %> prohibited this standard from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @standard.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Conceptuales', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :conceptual, :class => 'form-control ckeditor' %>
    </div>
    <%=f.error_span(:conceptual) %>
  </div>
  <div class="form-group">
    <%= f.label 'Procedimentales', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :procedimental, :class => 'form-control ckeditor' %>
    </div>
    <%=f.error_span(:procedimental) %>
  </div>
  <div class="form-group">
    <%= f.label 'Actitudinales', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :actitudinal, :class => 'form-control ckeditor' %>
    </div>
    <%=f.error_span(:actitudinal) %>
  </div>
  <div class="form-group">
    <%= f.label 'Unidad', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :content_id, set_contents.collect{|c| [full_topic(c), c.id]}, {}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:content_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Guardar', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                standards_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
