<%= form_for @report, :html => { :class => "form-horizontal report" } do |f| %>

  <% if @report.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @report.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :num, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :num, :class => 'form-control' %>
    </div>
    <%=f.error_span(:num) %>
  </div>
  <div class="form-group">
    <%= f.label :grupo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :grupo, :class => 'form-control' %>
    </div>
    <%=f.error_span(:grupo) %>
  </div>
  <div class="form-group">
    <%= f.label :numero, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :numero, :class => 'form-control' %>
    </div>
    <%=f.error_span(:numero) %>
  </div>
  <div class="form-group">
    <%= f.label :a, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :a, :class => 'form-control' %>
    </div>
    <%=f.error_span(:a) %>
  </div>
  <div class="form-group">
    <%= f.label :epo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :epo, :class => 'form-control' %>
    </div>
    <%=f.error_span(:epo) %>
  </div>
  <div class="form-group">
    <%= f.label :esr, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :esr, :class => 'form-control' %>
    </div>
    <%=f.error_span(:esr) %>
  </div>
  <div class="form-group">
    <%= f.label :e1, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :e1, :class => 'form-control' %>
    </div>
    <%=f.error_span(:e1) %>
  </div>
  <div class="form-group">
    <%= f.label :c, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :c, :class => 'form-control' %>
    </div>
    <%=f.error_span(:c) %>
  </div>
  <div class="form-group">
    <%= f.label :d, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :d, :class => 'form-control' %>
    </div>
    <%=f.error_span(:d) %>
  </div>
  <div class="form-group">
    <%= f.label :e, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :e, :class => 'form-control' %>
    </div>
    <%=f.error_span(:e) %>
  </div>
  <div class="form-group">
    <%= f.label :f, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :f, :class => 'form-control' %>
    </div>
    <%=f.error_span(:f) %>
  </div>
  <div class="form-group">
    <%= f.label :g, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :g, :class => 'form-control' %>
    </div>
    <%=f.error_span(:g) %>
  </div>
  <div class="form-group">
    <%= f.label :total, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :total, :class => 'form-control' %>
    </div>
    <%=f.error_span(:total) %>
  </div>
  <div class="form-group">
    <%= f.label :calendar_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :calendar_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:calendar_id) %>
  </div>
  <div class="form-group">
    <%= f.label :teacher_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :teacher_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:teacher_id) %>
  </div>

    <div class="form-group">
      <%= f.label :professor_id, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :professor_id, :class => 'form-control' %>
      </div>
      <%=f.error_span(:professor_id) %>
    </div>

  <div class="form-group">
    <%= f.label :subject_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :subject_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:subject_id) %>
  </div>
  <div class="form-group">
    <%= f.label :semester_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :semester_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:semester_id) %>
  </div>
  <div class="form-group">
    <%= f.label :career_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :career_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:career_id) %>
  </div>
  <div class="form-group">
    <%= f.label :boss_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :boss_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:boss_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                reports_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
